.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  transition: all 0.1s linear;

  &:hover {
    background-color: var(--hover);
    cursor: pointer;
  }
  .username {
    margin-left: 10px;
    font-weight: 500;
  }
}
