#flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#popperWrapper {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}

#title {
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-family: var(--font-roboto);
}

.wrapper {
  position: relative;
  width: 1030px;
  margin-right: 30px;
  transition: all 0.2s linear;
}

.header {
  @extend #popperWrapper;
  padding: 0;
}

.header-background {
  position: relative;
  z-index: 0;

  .icon-edit-coverphoto {
    position: absolute;
    bottom: 15px;
    right: 20px;
    @extend #flex-center;
    gap: 10px;
    background-color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.1s linear;

    &:active {
      transform: scale(0.98);
    }

    &:hover {
      cursor: pointer;
      background-color: #edf0f5;
    }

    .icon-camera {
      font-size: 2rem;
    }

    span {
      @extend #flex-center;
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
}

.header-background img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.header-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
}

.body-info {
  position: relative;
  display: flex;

  .avatar {
    position: relative;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-top: -50px;
      border: 4px solid #fff;
    }
    .icon-edit-avatar {
      position: absolute;
      @extend #flex-center;
      bottom: 10px;
      right: 10px;
      border-radius: 50%;
      padding: 6px;
      background-color: #e9ecf5;
      font-size: 2rem;
      transition: all 0.1s linear;
      box-shadow: rgba(44, 43, 43, 0.24) 0px 2px 6px;

      &:active {
        transform: scale(0.98);
      }

      &:hover {
        cursor: pointer;
        background-color: #adb2c0;
      }
    }
  }

  .des-img {
    display: flex;
    justify-content: flex-end;
  }
}

.body-info .info-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;

  .info-username {
    font-size: 2.4rem;
  }

  .info-friends {
    font-size: 1.6rem;
    margin: 10px 0;
    font-weight: 600;
    color: #8090a9;
  }
}

.body-actions {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;

  .btn-actions {
    position: relative;
    @extend #flex-center;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #e4e6eb;
    transition: all 0.1s linear;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &.active {
      background-color: var(--primary-color);
      color: #fff;
    }

    span {
      @extend #flex-center;
      font-weight: 500;
      font-family: var(--font-roboto);
      font-size: 1.4rem;
    }

    .btn-icon {
      width: 20px;
      height: 20px;
      font-size: 2rem;
      margin-right: 5px;
      @extend #flex-center;
    }
  }
}

.content {
  display: flex;
  background-color: #f7f8fa;
  margin-top: 20px;
}

.content-aside {
  width: 430px;
  flex-grow: 1;
  margin-bottom: 20px;
}

.content-body {
  margin-left: 20px;
  width: 100%;
}

.intro {
  @extend #popperWrapper;
  width: 430px;
  .intro-title {
    @extend #title;
  }

  .intro-item {
    display: flex;
    align-items: center;
    padding: 10px 0;

    .intro-item_icon {
      font-size: 3rem;
      color: #49576d;
      margin-right: 10px;
    }

    .intro-item_text {
      line-height: 2rem;
      font-weight: 600;
      color: rgb(80, 80, 80);

      span {
        color: #383838;
        font-weight: 700;
        margin-left: 5px;
        cursor: pointer;
      }
    }
  }

  .intro-btn_details,
  .intro-btn_featured {
    width: 100%;
    font-family: var(--font-roboto);
    color: #3b3b3b;
    padding: 0 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 36px;
    font-weight: 600;
    background-color: #e4e6eb;
    margin: 20px 0 0;
    cursor: pointer;
    transition: all 0.1s linear;

    &:active {
      transform: scale(0.95);
    }

    &:hover {
      background-color: #eee;
    }
  }

  .intro-featured .featured-img {
    padding-top: 20px;
  }

  .intro-featured .featured-img img {
    width: 123.33px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;

    &:nth-child(2) {
      margin: 0 10px;
    }
  }
}

.photos {
  @extend #popperWrapper;
  margin: 20px 0;
  .photos-title {
    @extend #title;
  }
  .photos-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    img {
      width: 100%;
      height: 123.33px;
      border-radius: 10px;
      object-fit: cover;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.friends {
  @extend #popperWrapper;
  .friends-title {
    @extend #title;
  }

  .friends-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .friend-item {
    .item-avatar img {
      width: 123.33px;
      height: 123.33px;
      border-radius: 10px;
      object-fit: cover;
      cursor: pointer;
    }

    .item-username {
      display: inline-block;
      font-size: 1.6rem;
      font-weight: 600;
      margin-top: 10px;
      text-decoration: none;
      color: #000;
    }
  }
}

.loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  &.active {
    top: 30px;
  }
}

.content-no-post {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
