#flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 240px;
  height: calc(100vh - 76px);
  margin-left: 30px;
  position: fixed;
  top: 76px;
  right: 198px;
  z-index: 1;
}

.aside-header {
  @extend #flex-center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-family: var(--font-roboto);
  color: #888;
  text-transform: uppercase;
  padding: 0 20px;
  margin-bottom: 10px;

  span {
    width: 20px;
    height: 20px;
    @extend #flex-center;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%;
  }
}

.suggested-body {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
  border-radius: 10px;
  padding: 10px;
}

.contact {
  margin-top: 10px;

  .contact-body {
    min-height: 330px;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px,
      rgb(0 0 0 / 6%) 0px 1px 2px 0px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    overflow: overlay;
  }
}

.account-item_link {
  text-decoration: none;
}
