.modal-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ccc;

  .header-heading {
    padding: 2rem;
  }
}

.modal-body {
  padding: 10px;

  .modal-content {
    padding: 20px 10px 30px;
  }

  .btn-confirm {
    display: flex;
    justify-content: flex-end;

    .btn-delete {
      margin-right: 10px;
    }
  }
}
