#flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  @extend #flex-center;
  height: 56px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 0px;
  z-index: 999;
}

.inner {
  @extend #flex-center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  @extend #flex-center;
  text-decoration: none;

  img {
    width: 35px;
    height: 35px;
    border-radius: 25%;
    object-fit: cover;
  }

  p {
    font-size: 2rem;
    font-family: var(--font-logo);
    color: var(--primary-color);
    margin-left: 10px;
    @extend #flex-center;
  }
}

.actions {
  @extend #flex-center;
  gap: 10px;

  .btn-message,
  .btn-notifi {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    @extend #flex-center;
    background-color: #e4e6eb;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s linear;

    &:hover {
      background-color: #d8dae0;
    }

    &.active {
      background-color: #e7f3ff;
      color: #1877f2;
    }
  }

  .btn-notifi {
    &:active {
      transform: scale(0.95);
    }
  }

  .quantity {
    position: absolute;
    top: -6px;
    right: -4px;
    @extend #flex-center;
    width: 19px;
    height: 19px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    border-radius: 50%;
    background-color: #e41e3f;
  }

  .btn-login,
  .btn-logout {
    width: 95px;
    padding: 0 20px;
    border-radius: 10px;
    @extend #flex-center;
    background-color: #fff;
    color: #000;
    line-height: 37px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--primary-font);
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.1s linear;
    text-decoration: none;
    color: #000;

    &:hover {
      background-color: var(--hover);
    }
  }

  .btn-login {
    background-color: var(--primary-color);
    color: #fff;

    &:hover {
      background-color: var(--primary-color);
      opacity: 0.8;
    }
  }
}

.avatar {
  position: relative;
  transition: all 0.1s ease-in;

  &:active {
    transform: scale(0.95);
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #d8dae0;
    border-radius: 10px;
    opacity: 0.3;
    transition: all 0.2s ease-in;
    display: none;
  }

  &:hover::before {
    display: block;
    cursor: pointer;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
  }

  .icon-arrow {
    position: absolute;
    @extend #flex-center;
    bottom: -1px;
    right: -1px;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #e8e8e8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
  }
}
